*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --dark: #1C1C1C;
  --dark-pink: #BE5683;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

strong {
  font-weight: bolder;
}

code {
  font-family: monospace, monospace;
  font-size: 1em;
}

img {
  border-style: none;
  max-width: 100%;
}

details {
  display: block;
}

summary {
  display: list-item;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #000839;
  background-color: #fdfdfd;
}

p {
  font-size: 1.25rem;
  line-height: 1.68;
}

li {
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.5rem 0;
  padding-left: 0.4em;
  margin-bottom: 0.4em;
}

a {
  color: #14b1ab;
}

.header {
  max-width: 850px;
  margin: 0 auto;
  padding: 1rem;
  min-height: 100vh;

  h1 {
    --fz: 3.5rem;
    text-align: center;
    font-size: var(--fz);

    @media (min-width: 800px) {
      --fz: 6.5rem;
    }
  }

  p {
    line-height: 1.5;
  }
}

.ul-grid-icon {
  list-style-type: none;

  svg {
    margin-right: 20px;
  }
}

h2 {
  font-size: 3rem;
}

.section-container {
  @media (min-width: 800px) {
    padding: 0rem 4rem;
    max-width: 1280px;
    margin: 0 auto;
  }
}

.center {
  margin: 0 auto;
  display: block;
}

em {
  background-color: #ffe4e4;
  padding: 2px;
  border: 1px solid #ffd3d3;
}

.code-highlight {
  background-color: #e4e3e3;
  padding: 2px;
  border: 1px solid #cacaca;
}

.main {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1280px) 1fr;

  > section {
    grid-column: 2 / 3;
    padding: 0 1rem;
  }
}

.code-container,
.block-container {
  margin: 3rem 0;
  @media (min-width: 750px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

section {
  margin: 3rem 0;
}

details {
  margin: 1rem;
}

summary {
  font-size: 2rem;
}

.my {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.two-columns {
  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

  code.highlight {
    background-color: #ffe4e4;
  }
}

.important {
  border: 2px solid #e8505b;
  padding: 1rem;
  border-radius: 10px;
  width: fit-content;
}

.grid-img {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 20px;

    li {
      border: 1px solid #eee;
    }
  }
}

.footer {
  padding: 4rem 1rem;
  text-align: center;
  background-color: #f2f2f2;

  a {
    text-decoration: none;
    color: var(--dark-pink);
    border-bottom: 1px dashed var(--dark-pink)
  }
}